<template name="footer">
    <footer class="footer">
        <div class="container">
            <div class="col-md-10 no-padding">
                <div class="cufm-logo-container col-md-4">
                    <img src="/images/cufm-logo.png" alt="CUFM"/>
                </div>
                <div class="app-description-container col-md-8">
                    <h6>Aplicación Multimedia como requisito para aprobación de la asignatura Aplicaciones Multimedia.</h6>
                    <p>Profesor Manuel Fariñas</p>
                </div>
            </div>
            <div class="copyright col-md-2">
                <p>
                    Diseñado por
                    <a class="btn btn-sm btn-twitter" href="https://www.behance.net/rulosconlentes" target="_blank">
                        <i class="fa fa-behance"></i>
                        /rulosconlentes
                    </a>
                </p>
                <p>
                    Desarrollado por
                    <a class="btn btn-sm btn-github" href="https://github.com/RamEduard" target="_blank">
                        <i class="fa fa-github"></i>
                        @RamEduard
                    </a>
                </p>
            </div>
        </div>
    </footer>
</template>