<template name="home">
    <div class="header header-filter" style="background-image: url('/images/Banner_PEUA.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="brand">
                        <h1>
                            <span class="black">[</span> PROGRAMA EN UN AÑO <span class="black">]</span>
                        </h1>
                        <h3>Descubre, Reflexiona, Aprende y Programa</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <div class="section section-landing">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title">Contenido Introductorio</h2>
                        <h5 class="description">Breve introducción de lo que deberías saber anter para programar.</h5>
                    </div>
                </div>
                <div class="features">
                    <div class="row">
                        <!-- Tabs with icons on Card -->
                        <div class="app-content card card-nav-tabs">
                            <div class="header header-success">
                                <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                        <ul class="nav nav-tabs" data-tabs="tabs">
                                            <li class="active">
                                                <a href="#algorithm" data-toggle="tab">Algorítmica y Programación</a>
                                            </li>
                                            <li>
                                                <a href="#logic" data-toggle="tab">Lógica</a>
                                            </li>
                                            <li>
                                                <a href="#maths" data-toggle="tab">Matemática y Álgebra</a>
                                            </li>
                                            <li>
                                                <a href="#stats" data-toggle="tab">Estadística y Probabilidades</a>
                                            </li>
                                            <li>
                                                <a href="#database" data-toggle="tab">Bases de Datos</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="algorithm">
                                        {{> introAlgoritmicaProgramacion }}
                                    </div>
                                    <div class="tab-pane" id="logic">
                                        {{> introLogica }}
                                    </div>
                                    <div class="tab-pane" id="maths">
                                        {{> introMatematicaAlgebra }}
                                    </div>
                                    <div class="tab-pane" id="stats">
                                        <h4 class="text-info text-center">Activar los subtítulos y autotraducir al español</h4>
                                        {{> introStats }}
                                    </div>
                                    <div class="tab-pane" id="database">
                                        <h4 class="text-info text-center">Activar los subtítulos y autotraducir al español</h4>
                                        {{> introDatabase }}
                                    </div>
                                </div>
                            </div>
                        </div><!-- End Tabs with icons on Card -->
                    </div>
                </div>
            </div><!--/ END SECTION -->
            <div class="section text-center section-landing">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title">¿Cómo Aplicarlo?</h2>
                        <h5 class="description">A través de las siguientes tecnologías, lenguajes de programación o frameworks.</h5>
                    </div>
                </div>

                <div class="features">
                    <div class="row">
                        <!--  Images Carousel sample -->
                        <div id="owl-technologies" class="owl-carousel">
                            <div class="item">
                                <img src="/images/logo/angular2.svg" alt="Angular">
                                <span>Angular</span>
                            </div>
                            <div class="item">
                                <img src="/images/logo/css.svg" alt="CSS">
                                <span>CSS</span>
                            </div>
                            <div class="item">
                                <img src="/images/logo/javascript.svg" alt="Javascript">
                                <span>Javascript</span>
                            </div>
                            <div class="item">
                                <img src="/images/logo/php.svg" alt="PHP">
                                <span>PHP</span>
                            </div>
                            <div class="item">
                                <img src="/images/logo/node-js.svg" alt="Node.js">
                                <span>Node.js</span>
                            </div>
                            <div class="item">
                                <img src="/images/logo/react.svg" alt="React.js">
                                <span>React.js</span>
                            </div>
                            <div class="item">
                                <img src="/images/logo/rx-ac.svg" alt="Rx-ac">
                                <span>Rx lib</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/ END SECTION -->

            <div class="section text-center section-landing">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title">Áreas Que Podrás Desempeñar</h2>
                    </div>
                </div>

                <div class="features">
                    <div class="row">
                        <!-- Carousel Card -->
                        <div class="card card-raised card-carousel">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <div class="carousel slide" data-ride="carousel">

                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img class="img-responsive" src="/images/frontend-developer.png" alt="Frontend Developer">
                                            <div class="carousel-caption">
                                                <h4><i class="material-icons">view_quit</i> Desarrollador Front-end</h4>
                                                <h5>Todo lo que ve un usuario en una aplicación de software.</h5>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="/images/backend-developer.jpg" alt="Backend Developer">
                                            <div class="carousel-caption">
                                                <h4><i class="material-icons">dashboard</i> Desarrollador Back-end</h4>
                                                <h5>Almacenamiento de datos, respuestas ágiles a peticiones, lógica de negocios.</h5>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive" src="/images/full-stack-developer.jpg" alt="Full Stack Developer">
                                            <div class="carousel-caption">
                                                <h4><i class="material-icons">hourglass_full</i> Desarrollador Full Stack</h4>
                                                <h5>Servidores, redes, modelado de datos, APIs, interfaces y experiencias de usuario.</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                        <i class="material-icons">keyboard_arrow_left</i>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                        <i class="material-icons">keyboard_arrow_right</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Carousel Card -->
                    </div>
                </div>
            </div><!--/ END SECTION -->
            <div class="section text-center section-landing">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title">Herramientas</h2>
                    </div>
                </div>

                <div class="features">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon icon-primary">
                                    <i class="fa fa-jsfiddle"></i>
                                </div>
                                <h4 class="info-title">JSFiddle</h4>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon icon-magenta">
                                    <i class="fa">
                                        <img src="/images/logo/PHPFiddle.png" alt="PhpFiddle"/>
                                    </i>
                                </div>
                                <h4 class="info-title">PhpFiddle</h4>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon icon-black">
                                    <i class="fa fa-codepen"></i>
                                </div>
                                <h4 class="info-title">codepen.io</h4>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="info">
                                <div class="icon icon-primary">
                                    <i class="fa fa-cloud"></i>
                                </div>
                                <h4 class="info-title">Cloud 9</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/ END SECTION -->
            <div class="section section-landing">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title">Referencias</h2>
                    </div>
                </div>

                <div class="features">
                    <div class="row">
                        <!--  Images Carousel sample -->
                        <div id="owl-references" class="owl-carousel">
                            <div class="item">
                                <a href="//egghead.io" data-toggle="tooltip" title="Egghead">
                                    <img src="/images/logo/egghead.svg" alt="Egghead" />
                                </a>
                            </div>
                            <div class="item">
                                <a href="//www.freecodecamp.com/map#collapseBack-End-Development-Certification" data-toggle="tooltip" title="Freecodecamp">
                                    <img src="/images/logo/freecodecamp.png" alt="Freecodecamp" />
                                </a>
                            </div>
                            <div class="item">
                                <a href="//www.udacity.com/course/intro-to-programming--ud000" data-toggle="tooltip" title="Udacity">
                                    <img src="/images/logo/udacity.svg" alt="Udacity" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/ END SECTION -->
        </div>
    </div>
</template>
