.caption-custom-title {
    background-color: rgba(233,30,99,0.90);
    color: #fff;
    cursor: pointer;
    font-size: 2.3em !important;
    font-weight: 600;
    left: 60% !important;
    padding: 1em !important;
    right: 0;
}