<template name="dashboardHeader">
    <header class="dashboard-header mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">
            <img src="/images/logo/PEUA1_2.png" alt="PEUA"/>
        </span>
        <div class="mdl-layout-spacer"></div>

        <a class="mdl-navigation__link"
           href="{{pathFor 'home'}}"
           target="_blank">Página Principal</a>
        <a class="mdl-navigation__link"
           href="{{pathFor 'posts'}}"
           target="_blank">Publicaciones</a>
      </div>
    </header>
</template>
