<template name="revSliderFeaturedEvents">
    <!-- Featured Events Slider Revolution -->
    <div class="rev-slider featured-events-slider" style="position: relative">
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <!-- Featured Event Slide -->
                    {{#each featuredEvent in featuredEvents}}
                        {{#with featuredEvent }}
                            {{> featuredEventSlide }}
                        {{/with}}
                    {{else}}
                        {{> revSlideNotData}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>