<template name="posts">
    <div class="posts-header header header-filter" style="background-image: url('/images/Banner_PEUA.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="brand">
                        <h1>
                            <span class="black">[</span> Publicaciones - Contenido <span class="black">]</span>
                        </h1>
                        <h3>Todo el contenido de la PEUA</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="posts-main main main-raised">
        <div class="container">
            <div class="section section-landing">
                <div class="features">
                    <div class="row">
                      <!-- Show posts -->
                      {{#each contenidos }}
                          <div class="col-sm-4">
                              <div class="info">
                                  <div class="icon">
                                      <i class="material-icons">code</i>
                                  </div>
                                  <h4 class="info-title">For Developers</h4>
                                  <p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                              </div>
                          </div>
                      {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>