<template name="posts">
    <div class="posts-header header header-filter" style="background-image: url('/images/Banner_PEUA.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="brand">
                        <h1>
                            <span class="black">[</span> Publicaciones - Contenido <span class="black">]</span>
                        </h1>
                        <h3>Todo el contenido de PEUA</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="posts-main main main-raised">
        <div class="container">
            <div class="section section-landing">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title">Contenido Programático</h2>
                        <h5 class="description">Este contenido es recomendado para aprender a programar.</h5>
                    </div>
                </div>
                <div class="features">
                    <div class="row">
                      <!-- Show posts -->
                      {{#each contenidos }}
                          {{> contenidoPost class="col-sm-4" }}
                      {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
