<template name="contenidoAlgoritmicaProgramacion">
    <ul>
        <li>Unidad 1: Algoritmo y Programas
            <ul>
                <li>Concepto de Algoritmos y Programas.</li>
                <li>Lenguaje algorítmico y de programación.</li>
                <li>Partes de un algoritmo.</li>
                <li>Características y elementos para construir un algoritmo.</li>
                <li>Formas de representar un algoritmo: Lenguaje Natural, pseudocódigo y diagrama de flujo.</li>
                <li>Traza de un algoritmo (corrida en frío).</li>
            </ul>
        </li>
        <li>Unidad 2: Estandares de calidad en el diseño de algoritmos y construcción de programas
            <ul>
                <li>Introducción a los estándares de calidad.</li>
                <li>Forma de trazabilizar un algoritmo.</li>
                <li>Formas y técnicas de documentar algoritmos y programas.</li>
                <li>Introducción a la elaboración del manual del sistema, usuario y programas.</li>
                <li>Técnicas de escritura y pruebas de algoritmos y programas.</li>
            </ul>
        </li>
        <li>Unidad 3: Datos y entidades primitivas
            <ul>
                <li>Concepto y diferencia entre dato e información, tipos de datos.</li>
                <li>Los Operadores: Concepto y tipos de operadores.</li>
                <li>Las Expresión: concepto, tipos y evaluación de expresiones, Los Identificadores: Concepto, Reglas de escritura, las variables: clasificación de variables según su contenido (numéricas, lógicas y alfanuméricas) y su uso (de trabajo, contador y acumulador), constantes.</li>
            </ul>
        </li>
        <li>Unidad 4: Metodología para el analisis y planteamiento de problemas
            <ul>
                <li>Identificación del Problema.</li>
                <li>Identificación de los datos necesarios (entradas).</li>
                <li>Identificación de los datos a obtener (salidas).</li>
                <li>Descripción de las operaciones a utilizar (cálculos).</li>
                <li>Descripción de los pasos para llegar a la solución (procesos).</li>
            </ul>
        </li>
        <li>Unidad 5: Programacion estructurada
            <ul>
                <li>Teoremas de la programación estructurada.</li>
                <li>Estructuras de control:
                    <ul>
                        <li>Estructuras de decisión: concepto, tipos y sintaxis: Condicional, simples, dobles, múltiples, anidadas y selectiva.</li>
                        <li>Estructuras de control iterativas: Concepto y tipos, Ciclo Mientras y Repetir: sintaxis y métodos para salir del ciclo. CicloPara: Sintaxis. Ciclos anidados.</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Unidad 6: Programación modular
            <ul>
                <li>Funciones y procedimientos: Definición y Declaración.</li>
                <li>Ámbito de variables: Datos locales y globales.</li>
                <li>Llamada de una función y pase d parámetros.</li>
            </ul>
        </li>
        <li>Unidad 7: Técnicas de manteniemiento de programas
            <ul>
                <li>Técnica de prueba caja negra.</li>
                <li>Reingeniería de programas.</li>
            </ul>
        </li>
    </ul>
</template>