<template name="tags">
    <div class="mdl-grid tags">
        <div class="mdl-cell--1-col right">
            <span class="mdl-chip">
                <span class="mdl-chip__text">Musica</span>
            </span>
        </div>
        <div class="mdl-cell--1-col right">
            <span class="mdl-chip">
                <span class="mdl-chip__text">Teatro</span>
            </span>
        </div>
        <div class="mdl-cell--1-col right">
            <span class="mdl-chip">
                <span class="mdl-chip__text">Centro Cultural</span>
            </span>
        </div>
    </div>   
</template>